<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="eu.ddmore.metadata"/>

    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:metadata-config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="metadataMap" class="eu.ddmore.metadata.service.MetadataMapImpl">
        <constructor-arg index="0" value="${property-mapping}"/>
        <constructor-arg index="1" value="${ontology-mapping}"/>
    </bean>

    <bean id="metadataValidator" class="eu.ddmore.metadata.service.MetadataValidatorImpl">
        <constructor-arg name="metadataMap" ref="metadataMap"/>
    </bean>

    <bean id="validationReport" class="eu.ddmore.metadata.service.ValidationReportImpl">
        <constructor-arg name="metadataValidator" ref="metadataValidator"/>
    </bean>

</beans>